<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reklama</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
        <div class="box-2" style="margin: 100px 260px; font-family: sans-serif;">
            <h2 style="text-align: center; color: cornflowerblue;">Reklama</h2>    
            <br><br>
            <p>Biz bilan bog'lanish uchun: +998939621716 raqamiga murojaat qilishingiz mumkin.</p>
            <br>
            <a href="https://t.me/Shahzod23_04" style="text-decoration: none;">telegram orqali bog'lanish</a>
        </div>
        <div class="foter">
            <div class="card border-success mb-3" style="width: 100%; background-color: rgb(60, 84, 103); color: antiquewhite; margin: 40px 40px;">
                <div class="card-header bg-transparent border-success">Header</div>
                <div class="card-body text-success">
                  <h5 class="card-title">Success card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer bg-transparent border-success">Footer</div>
              </div>
        </div>
    {% endblock content %}
</body>
</html>